
# Dependencias de Composer
/vendor/

.vscode/

# Configuración de PHPUnit
.phpunit.result.cache

# Archivos generados por Composer
composer.lock

# Directorios de cache
/cache/
logs/
tmp/
/storage/

# Archivos de autoload generados
composer.phar

# Archivos temporales de depuración
debug.log
